body {
background-color:#006088;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


/*.......................BORDER & BGCOLOR........................... */

.border{
	border: 1px solid #cccccc;

}
.tbborder{
	border-top: none;
	border-right: 4px solid #FFFFFF;
	border-bottom: none;
	border-left: 4px solid #FFFFFF;
}
/*................. HEADING , CONTENTS & LINKS ............... */
.heading1{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 28px;
	font-weight: normal;
	text-decoration: none;
}
.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}
.tagline{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	line-height: 12px;
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;	
}
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	
}
.content1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;

}
.content2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #24FE00;
	font-weight: normal;

}
.link3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #66C4FF;
	font-weight: bold;
	text-decoration: none;
}
.link3:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #66C4FF;
	font-weight: bold;
	text-decoration: none;
}
.link3:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.link:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.link2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
.link2:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
.link2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}
.link1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #002758;
	font-weight: bold;
	text-decoration:none;
}
.link1:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #002758;
	font-weight: bold;
	text-decoration:none;
}
.link1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #002758;
	font-weight: bold;
	text-decoration: underline;
}

/*......................BACKGROUND....................... */
.bgshade{
	background-image: url(../images/top_shade.jpg);
	background-repeat: repeat-x;
	background-position: left top;

}
.menu_bg{
	background-image: url(../images/menu_bg.jpg);
	background-repeat: no-repeat;
	background-position: right top;

}

/*......................... FORM ......................... */

.textbox1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 24px;
	width: 120px;
	background-color: #FFFFFF;
	border: 1px solid #6464A1;
}
.textbox2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	height: 20px;
	width: 160px;
	background-color: #006088;
	border-top: 1px solid #002E42;
	border-right: 1px solid #007DB1;;
	border-bottom: 1px solid #007DB1;;
	border-left: 1px solid #002E42;
}
.textbox3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	height: 60px;
	width: 250px;
	background-color: #006088;
	border-top: 1px solid #002E42;
	border-right: 1px solid #007DB1;;
	border-bottom: 1px solid #007DB1;;
	border-left: 1px solid #002E42;
}

a.CreditLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;
}
a.CreditLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;
}
a.CreditLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;

}
a.CreditLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #66FF99;
}
.title2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
}
.darkcontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
}
a.title2Link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
		text-decoration: none;
}
a.title2Link:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
		text-decoration: none;
}
a.title2Link:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
		text-decoration: none;
}
a.title2Link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fffFFF;
	text-decoration: underline;
}
.sideBorder {
	border: medium solid #37D119;
}
