	
	@media only screen and (max-width: 1024px) {
		/* Global */
		.wrap {
			width:984px;
		}
		.th1 {
			margin-bottom:10px;
		}
		
		/* Nav */
		body > nav .wrap ul {
			position:absolute;
			top:45px;
			right:-1px;
			z-index:1000;
			height:auto;
			background-color:#26441d;
		}
		body > nav .wrap ul li {
			display:block;
			padding:0 20px;
			float:none;
			text-align:left;
			border-bottom:1px solid #617d42;
		}
		body > nav .wrap ul li a {
			display:block;
		}
		body > nav .wrap ul li:hover {
			display:block;
			padding:0 20px;
			float:none;
			text-align:left;
			background-color:rgba(0,0,0,1);
		}
		body > nav .wrap ul li:first-child { padding-left:20px; width:auto; text-align:left; }
		body > nav .wrap ul li:nth-child(2) { width:auto; }
		body > nav .wrap ul li:nth-child(3) { width:auto; }
		body > nav .wrap ul li:nth-child(4) { width:auto; }
		body > nav .wrap ul li:nth-child(5) { width:auto; }
		body > nav .wrap ul li:nth-child(6) { width:auto; }
		body > nav .wrap ul li:nth-child(7) { width:auto; }
		body > nav .wrap ul li:last-child { padding-right:20px; width:auto; text-align:left; }
		
		/* Slider */
		.slides > li > h2 {
			top:145px;
			font-size:40px;
			line-height:45px;
			margin-left:-492px;
		}
		.get-in-touch {
			margin-right:-492px;
		}
		.flex-control-nav {
			margin-left:-492px;
			width:100%;
		}
		
		/* Tours */
		.tours > img {
			left:50%;
			margin-left:-128px;
			transform: rotate(12deg);
			-ms-webkit-transform: rotate(17deg) scale(0.8);
			-webkit-transform: rotate(17deg) scale(0.8);
			top:-83px;
			z-index:999;
		}
		.tours > .tour {
			width:246px;
		}
		
		/* Content */
		.w-sidebar > div {
			width:719px;
		}
		.w-sidebar .left {
			width:451px;
		}
		.btn-maroon {
			font-size:13px;
		}
		.w-sidebar .right > .btn-maroon {
			margin-top:111px;
		}
		.weather {
			height:607px;
		}
		.tours-page #content .cuzco .left {
			width:524px;
		}
		.tours-page #content .cuzco img[src="img/image-points.png"] {
			left:540px;
		}
		article.packages .picture a > img {
	width: 100%;
	position: absolute;
	top: 0px;
		}
		article.packages .picture {
			/*width:340px;*/
		}
		.th9 {
			/* by jordan, 
			margin-bottom:220px;*/
			margin-bottom:0px;
		}
		article.packages .picture {
			/*top:85px;
			right:50%;
			margin-right:-150px;
			*/
		}
		article.packages img[src="img/title-tours.png"] {
			top:49px;
			left:50%;
			margin-left:-231px;
		}
	}
	@media only screen and (max-width: 1023px) {
		.wrap {
			width:728px;
		}
		body > header .wrap img {
			-webkit-transform:scale(0.8);
			-webkit-transform-origin:0% 0%;
			left:0;
			top:23px;
		}
		body > header .wrap div > span:first-child {
			font-size:20px;
		}
		body > header .wrap div > span:last-child {
			font-size:37px;
		}
		body > header .wrap div {
			width:237px;
		}
		body > header .wrap p {
			left:296px;
		}
		.slides > li > h2 {
			margin-left:-364px;
		}
		.slides > li > h2 {
			font-size:25px;
			line-height:25px;
		}
		.slides > li > h2 {
			top:113px;
		}
		.flex-control-nav {
			margin-left:-364px;
			width:100%;
		}
		.get-in-touch {
			margin-right:-364px;
			width:335px;
			padding:20px 25px;
		}
		.txtfld {
			width:49%;
			float:left;
			margin-right:2%;
			margin-bottom:5px;
		}
		.txtfld:nth-child(2n+2) {
			margin-right:0;
		}
		.tours > .tour {
			width:50%;
		}
		.w-sidebar > div {
			width:100%;
		}
		.tours > img {
			top:-93px;
		}
		.w-sidebar > aside {
			width:100%;
		}
		.widget {
			width:49%;
			float:left;
			margin-right:2%;
			margin-bottom:20px;
			height:495px;
		}
		.widget:nth-child(2n+2) {
			margin-right:0;
		}
		.th5 {
			background-repeat:repeat;
		}
		.faq ul li > div:nth-child(2) {
			width:269px;
		}
		.faq a.btn-green {
			float:right;
			width:100px;
		}
		.weather > div.data {
			width:302px;
		}
		footer .three-box > div {
			height:400px;
		}
		footer .three-box > div:nth-child(2) {
			padding:30px;
		}
		footer .three-box > div:nth-child(3) {
			padding:30px;
		}
		.slides h1 {
			margin-left:-364px;
		}
		.th7 {
			font-size:40px;
		}
		
		.tours-page #content .cuzco .left {
			width:100%;
			margin:0;
		}
		.tours-page #content .cuzco img[src="img/image-points.png"] {
			display:none;
		}
		.tours-page #content .cuzco .right {
			width:100%;
			margin:0;
		}
		.tours-page #content .cuzco .right .image-map > img {
			width:100%;
		}
	}
	@media only screen and (max-width: 767px) {
		.wrap {
			width:440px;
		}
		body > header {
			height:220px;
		}
		body > header .wrap p {
			width:100%;
			top:113px;
			left:0;
			text-align:center;
		}
		body > header .wrap div {
			width:100%;
			top:160px;
			text-align:center;
		}
		body > header .wrap div > span:last-child {
			font-size:20px;
		}
		body > header .wrap img {
			left:50%;
			margin-left:-118px;
		}
		.flexslider {
			padding-bottom: 266px;
		}
		.get-in-touch {
			top: auto;
			bottom: 0;
			left: 0;
			margin-left:0;
			width:100%;
			-webkit-border-bottom-right-radius: 0;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-radius-bottomright: 0;
			-moz-border-radius-bottomleft: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.black-bottom {
			bottom: 266px;
		}
		.slides > li > h2 {
			margin-left:-220px;
			top:44px;
		}
		.flex-control-nav {
			margin-left:-220px;
			width:100%;
			bottom:270px;
		}
		body > nav .wrap ul {
			width:100%;
		}
		.w-sidebar .left {
			width:100%;
			margin-bottom:20px;
		}
		.w-sidebar .right {
			width:100%;
			text-align:center;
		}
		.w-sidebar .right > div:first-child {
			text-align:center;
		}
		.w-sidebar .right > ul > li:nth-child(2n+2) {
			margin-right:10px;
		}
		.w-sidebar .right > ul > li:nth-child(3n+3) {
			margin-right:0;
		}
		.w-sidebar .right > ul > li {
			width:132px;
		}
		.w-sidebar .right > .btn-maroon {
			margin-top:0;
		}
		.btn-maroon {
			font-size:24px;
		}
		.th4 {
			font-size:26px;
		}
		.widget {
			width:100%;
			margin-right:0;
		}
		.faq ul li > div:nth-child(2) {
			width:353px;
		}
		.weather > div.data {
			width:385px;
		}
		.widget {
			height:auto;
		}
		footer .three-box > div:first-child {
			width:100%;
			height:auto;
		}
		footer .three-box > div:nth-child(2) {
			width:100%;
			height:auto;
		}
		footer .three-box > div:nth-child(3) {
			width:100%;
			height:auto;
		}
		footer .copy > div {
			width:100%;
		}
		footer .copy {
			background-color:#282f1d;
			height:auto;
			background-repeat:repeat-x;
			background-position:top-left;
		}
		footer .copy > div:last-child  {
			padding-top:20px;
			text-align:center;
		}
		footer .copy > div:first-child {
			padding-top:20px;
			text-align:center;
		}
		.tours-page .flexslider {
			height:auto;
		}
		.tours-page .slides h1 {
			margin-left:-220px;
			width:100%;
			text-align:center;
			font-size:40px;
		}
		.tours-page .slides h1 > span:last-child {
			text-align:center;
		}
		.tours-page .th7 {
			font-size:23px;
		}
		.tours-page .th9 {
			font-size:16px;
		}
		.tours-page article.packages > .details > li .break {
			display:inline; /*BY JP NO MORE HARD BREAKS PLEASE*/
		}
		.tours-page article.hotels > h1 {
			background-size:auto 100%;
		}
		.tours-page article.hotels > div {
			width:100%;
		}
	}
	@media only screen and (max-width: 479px) {
		.wrap {
			width:100%;
		}
		body > header {
			height:244px;
		}
		body > header .wrap img {
			left:6px;
			margin-left:0;
		}
		body > header {
			text-align:center;
		}
		body > header .wrap div > span:last-child {
			font-size:18px;
		}
		body > header .wrap div > span:first-child {
			font-size:18px;
		}
		body > header .wrap div {
			top:175px;
		}
		body > nav .wrap ul {
			right:0;
		}
		.slides > li > h2 {
			top:26px;
			font-size:16px;
			margin-left:-160px;
			text-align:center;
			line-height:16px;
			width:100%;
		}
		.flex-control-nav {
			margin-left:-150px;
		}
		.black-bottom {
			top:101px;
		}
		.flex-control-nav {
			top:109px;
		}
		.get-in-touch {
			top:131px;
		}
		.flexslider {
			height:397px;
		}
		.tours > img {
			top:-83px;
		}
		.tours > .tour {
			width:100%;
		}
		.w-sidebar .left .photo-small {
			height:auto;
		}
		.th2 {
			font-size:30px;
		}
		.w-sidebar .right > ul > li {
			width:100%;
		}
		.btn-maroon {
			font-size:15px;
		}
		.th4 {
			font-size:18px;
		}
		.faq ul li > div:nth-child(2) {
			width:216px;
		}
		.weather > div.data {
			width:249px;
		}
		footer .copy > div:first-child > img {
			width:90%;
			height:auto;
		}
		.tours-page .slides h1 {
			margin-left:0;
			left:0;
			line-height:20px;
			width:100%;
			text-align:center;
			font-size:20px;
			top:60px;
		}
		.tours-page .slides h1 > span:last-child {
			font-size:20px;
			line-height:20px;
		}
		.tours-page .slides h1 > span:first-child {
			font-size:20px;
			line-height:20px;
		}
		.tours-page .th7 {
			font-size:22px;
			line-height:22px;
			text-align:center;
			padding-top:20px;
		}
		.tours-page .th9 {
			font-size:16px;
			line-height:16px;
			text-align:center;
			padding-top:10px;
		}
	}
