body {
background-color:#006088;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
H1 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;}
H2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	line-height: 12px;
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;	
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;}
H3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #66FF99;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;}
H4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;}
/*.......................BORDER & BGCOLOR........................... */

.border{
	border: 1px solid #cccccc;

}
.tbborder{
	border-top: none;
	border-right: 4px solid #FFFFFF;
	border-bottom: none;
	border-left: 4px solid #FFFFFF;
}
/*................. HEADING , CONTENTS & LINKS ............... */
.heading1{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 28px;
	font-weight: normal;
	text-decoration: none;
}
.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}
.tagline{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	line-height: 12px;
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;	
}
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	
}

.content1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;

}
.content2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #24FE00;
	font-weight: normal;

}
a.link3:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66C4FF;
	font-weight: bold;
	text-decoration: none;
}
a.link3:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66C4FF;
	font-weight: bold;
	text-decoration: none;
}
a.link3:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66C4FF;
	font-weight: bold;
	text-decoration: none;
}
a.link3:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
a.link:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}a.link2:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
a.link2:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
a.link2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}
a.link2bold:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link2bold:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link2bold:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link2bold:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
a.link4:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link4:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link4:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.link4:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
a.link1:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #002758;
	font-weight: bold;
	text-decoration:none;
}
a.link1:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #002758;
	font-weight: bold;
	text-decoration:none;
}
a.link1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #002758;
	font-weight: bold;
	text-decoration: underline;
}

/*......................BACKGROUND....................... */
.bgshade{
	background-image: url(../images/top_shade.jpg);
	background-repeat: repeat-x;
	background-position: left top;

}
.menu_bg{
	background-image: url(../images/menu_bg.jpg);
	background-repeat: no-repeat;
	background-position: right top;

}

/*......................... FORM ......................... */

.textbox1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 24px;
	width: 120px;
	background-color: #FFFFFF;
	border: 1px solid #6464A1;
}
.textbox2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	height: 20px;
	width: 160px;
	background-color: #006088;
	border-top: 1px solid #002E42;
	border-right: 1px solid #007DB1;;
	border-bottom: 1px solid #007DB1;;
	border-left: 1px solid #002E42;
}
.textbox3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	height: 60px;
	width: 250px;
	background-color: #006088;
	border-top: 1px solid #002E42;
	border-right: 1px solid #007DB1;;
	border-bottom: 1px solid #007DB1;;
	border-left: 1px solid #002E42;
}

a.CreditLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;
}
a.CreditLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;
}
a.CreditLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;

}
a.CreditLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFBB;
	font-weight: bold;
	text-decoration: none;}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #66FF99;
}
.title2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
}
.darkcontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
}
a.title2Link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
		text-decoration: none;
}
a.title2Link:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
		text-decoration: none;
}
a.title2Link:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66FFFF;
		text-decoration: none;
}
a.title2Link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fffFFF;
	text-decoration: underline;
}
.sideBorder {
	border: medium solid #37D119;
}
.taglinebox {
	background-image: url(../images/tagline.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.smalltext {
	font-size: 10px;
}


/*......................... PHOTO AUTO VIEWER......................... */
/*CSS FOR CAPATION PHOTO AUTO VIEWER STYLE ONLY*/
.clear {
	clear:both
}

#gallery {
	position:relative;
	height:360px;
	weight:580px;
	border: 5px solid black;
	
	
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
		
	}
	
	#gallery a.show {
	z-index:500;
	display: inline;
	}

	#gallery .caption {
	z-index:600;
	background-color:#000;
	color:#ffffff;
	height:100px;
	width:520px;
	position:absolute;
	bottom:0;
	left: 0px;
	display: inline;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}
/*END OF CAPATION VERSION AUTO VIEWER--*/	

/*SIMPLE GALLERY WITH STOP/PLAY/NEXT/PREVIOUS STYEL*/
/* Estilos Tabs */
.tabs_despliegue h2 {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-image: url(../images/interna_der_vineta_subtitulo.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	padding-left: 26px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 24px;
	margin-left: 0px;
}
.tabs_despliegue {
	width: 615px;
	padding-right: 36px;
	padding-left: 36px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 0px;
}
/* Fin Estilos Tabs */
/* Estilos Galeria */
.despliegue_galeria {
	height: auto;
	width: 615px;
	padding-top: 20px;
	padding-right: 36px;
	padding-bottom: 20px;
	padding-left: 36px;
}
.despliegue_galeria h2 {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-align: left;
	padding-left: 26px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 24px;
	margin-left: 0px;
}
/*Make sure your page contains a valid doctype at the top*/
#simplegallery1{ //CSS for Simple Gallery Example 1
position: relative; /*keep this intact*/
	visibility: hidden; /*keep this intact*/
	border: 5px solid #000000;
	height: 310px;
	width: 510px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

#simplegallery1 .gallerydesctext{ //CSS for description DIV of Example 1 (if defined)
text-align: left;
	font-family: Tahoma;
	font-size: 11px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
/* Fin de Estilos Galeria */
