BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #006088
}
H1 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #66ff99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #66ffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.border {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.tbborder {
	BORDER-RIGHT: #ffffff 4px solid; BORDER-TOP: medium none; BORDER-LEFT: #ffffff 4px solid; BORDER-BOTTOM: medium none
}
.heading1 {
	FONT-WEIGHT: normal; COLOR: #ffffff; LINE-HEIGHT: 28px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tagline {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #24fe00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.link3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66c4ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66c4ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link3:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66c4ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link3:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link2bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link2bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link4:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link4:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link4:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #002758; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link1:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #002758; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #002758; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.bgshade {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(top_shade.jpg); BACKGROUND-REPEAT: repeat-x
}
.menu_bg {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(menu_bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.textbox1 {
	BORDER-RIGHT: #6464a1 1px solid; BORDER-TOP: #6464a1 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #6464a1 1px solid; WIDTH: 120px; COLOR: #000000; BORDER-BOTTOM: #6464a1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 24px; BACKGROUND-COLOR: #ffffff
}
.textbox2 {
	BORDER-RIGHT: #007db1 1px solid; BORDER-TOP: #002e42 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #002e42 1px solid; WIDTH: 160px; COLOR: #ffffff; BORDER-BOTTOM: #007db1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #006088
}
.textbox3 {
	BORDER-RIGHT: #007db1 1px solid; BORDER-TOP: #002e42 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #002e42 1px solid; WIDTH: 250px; COLOR: #ffffff; BORDER-BOTTOM: #007db1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 60px; BACKGROUND-COLOR: #006088
}
A.CreditLink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffbb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.CreditLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffbb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.CreditLink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffbb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.CreditLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffbb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #66ff99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66ffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.darkcontent {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.title2Link:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66ffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.title2Link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66ffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.title2Link:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #66ffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.title2Link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.sideBorder {
	BORDER-RIGHT: #37d119 solid; BORDER-TOP: #37d119 solid; BORDER-LEFT: #37d119 solid; BORDER-BOTTOM: #37d119 solid
}
.taglinebox {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(tagline.jpg); BACKGROUND-REPEAT: no-repeat
}
.smalltext {
	FONT-SIZE: 10px
}
